/*TODA LA PAGINA*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*EMCABEZADO*/
header {
    background-image: url('imagen1.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 10px 0;
    text-align: center;
    height: 100px;
}

/*NAVEGACION*/
nav {
   
    background-color:  #e5a8b0;
    overflow: hidden;
}
nav a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold; 
    margin-left: 100px; 
}
nav a:hover {
    background-color:#ebcfd1;
    color: black;
}

/*SECCIONES*/
section {
    padding: 20px;
    margin: 10px;
}
/*..........*/
#section1 {
    background-image: url('imagen3.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-family: "Helvetica", serif;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: row; 
}  
#section1 .content {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}
#section1 .imagen-izquierda {
    margin-top: 25px;
    margin-right: 155px;
    width: 375px;
    height: auto; 
}
#section1 .texto {
    color: #333;
    margin-left: 15%; 
    flex: 1; 
}
/*..........*/
#section2 {
    background-image: url('imagen4.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-family: "Helvetica", serif;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: row; 
}
#section2 .content {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}
#section2 .texto {
    color: #333;
    margin-left: 15%; 
    flex: 1; 
}
    #section2 .imagen-izquierda {
        margin-top: 25px;
        margin-right: 155px;
        width: 375px;
        height: auto; 
    }

#section3 {
    background-image: url('imagen5.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e6ffe6; 
    font-family: "Helvetica", serif;
    text-align: center; /* Centrar el texto dentro de la sección */
}
#section3 h2 p{
    color: #333;
}
.image-container {
    display: flex;
    justify-content: space-around; /* Espacio entre los elementos */
    align-items: center; /* Centrar los elementos verticalmente */
    margin-top: 20px;
}

.image-container div {
    text-align: center; /* Centrar el texto dentro de cada div */
}

.image-left img, .image-center img, .image-right img {
    max-width: 100%;
    height: auto;
}

.image-left, .image-center, .image-right {
    flex: 1;
    margin: 10px;
}
#section4 {
    background-color: #fff5e6; 
    font-family: "Helvetica", serif;}

#section5 {
    background-color: #ffe6f2; 
    font-family: "Helvetica", serif;}


/*PIE DE PAGINA*/
footer {
    background-color: #ccc4c4;
    color: #333;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
