/*TODA LA PAGINA*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*EMCABEZADO*/
header {
    background-image: url('imagen1.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 10px 0;
    text-align: center;
    height: 100px;
}

/*NAVEGACION*/
nav {
   
    background-color:  #e5a8b0;
    overflow: hidden;
}
nav a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold; 
    margin-left: 20px; 
}
nav a:hover {
    background-color:#ebcfd1;
    color: black;
}

/*SECCIONES*/
section {
    padding: 20px;
    margin: 10px;
}

#section1 {
    background-color: #ebcfd1; 
    font-family: "Helvetica", serif;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: row; /* Asegúrate de que la dirección sea row */
}  

#section1 .content {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinea el contenido al final para que la imagen esté a la derecha */
}

#section1 .imagen-izquierda {
    margin-left: 95px; /* Espacio entre la imagen y el texto */
    width: 300px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
}

#section1 .texto {
    margin-left: 15px; 
    flex: 1; /* Asegura que el texto ocupe el espacio restante */
}

#section2 {
    background-color: #e6f7ff; /* Azul claro */
    font-family: "Helvetica", serif;}

#section3 {
    background-color: #e6ffe6; /* Verde claro */
    font-family: "Helvetica", serif;}

#section4 {
    background-color: #fff5e6; /* Naranja claro */
    font-family: "Helvetica", serif;}

#section5 {
    background-color: #ffe6f2; /* Rosa claro */
    font-family: "Helvetica", serif;}

#section6 {
    background-color: #f9e6ff; /* Violeta claro */
    font-family: "Helvetica", serif;}


/*PIE DE PAGINA*/
footer {
    background-color: #ccc4c4;
    color: #333;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
